<template>
  <div class="image-carousel-wrapper">
    <div
      class="next"
      @click="next"
    >
      <i class="material-icons keyboard_arrow_right" />
    </div>
    <div
      class="previous"
      @click="previous"
    >
      <i class="material-icons keyboard_arrow_left" />
    </div>
    <swiper class="swiper" ref="mySwiper" :options="swiperOptions">
      <swiper-slide class="swipe">
        <img src="//via.placeholder.com/650x200" alt="image">
      </swiper-slide>
      <swiper-slide class="swipe">
        <img src="//via.placeholder.com/650x200" alt="image">
      </swiper-slide>
      <swiper-slide class="swipe">
        <img src="//via.placeholder.com/650x200" alt="image">
      </swiper-slide>
      <swiper-slide class="swipe">
        <img src="//via.placeholder.com/650x200" alt="image">
      </swiper-slide>
      <swiper-slide class="swipe">
        <img src="//via.placeholder.com/650x200" alt="image">
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
export default {
  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 10,
        grabCursor: true,
      },
      current: 2,
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper
    },
  },
  mounted() {
    this.swiper.slideTo(this.current, 1000, false)
  },
  methods: {
    next() {
      if (this.current < 4) {
        this.current += 1
        this.swiper.slideTo(this.current, 1000, false)
      }
    },
    previous() {
      if (this.current > 0) {
        this.current -= 1
        this.swiper.slideTo(this.current, 1000, false)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';

.swipe {
  > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 50% 50%;
  }
}

.swiper {
  width: 80%;
  overflow: inherit;
  @include respond-to ($mobile) {
    width: 100%;
    height: 100%;
  }
}

.image-carousel-wrapper {
  position: relative;
  @include respond-to ($mobile) {
    height: 300px;
  }
  > .next, .previous {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
  > .next {
    right: 12%;
    @include respond-to ($mobile) {
      right: 4%;
    }
  }
  > .previous {
    left: 12%;
    @include respond-to ($mobile) {
      left: 4%;
    }
  }
}
</style>
