<template>
  <div id="app">
    <TopBarNav />
    <routerView class="router-view"/>
  </div>
</template>

<script>
import TopBarNav from '@/components/TopBarNav'

export default {
  components: {
    TopBarNav,
  },
}
</script>
<style lang="scss">

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}

.router-view {
  flex: 1 1 auto;
  overflow: hidden;
}

</style>
